<header>
<nav>
    <ul>
      <li>
          <a href routerLink="/">Séries</a>
          <ul>
            <li>
                <a href routerLink="/creation">Créer une série</a>
            </li>
            <li>
                <a href routerLink="/creation">Editer une série</a>
            </li>
          </ul>
      </li>
      
      <li>
        <a href routerLink="/tableau">Tableau de bord</a>
        <ul>
            <li>
                <a href routerLink="/requetes">Gestion des demandes</a>
            </li>
            <li>
                <a href routerLink="/u">Gestion des utilisateurs</a>
            </li>
        </ul>
    </li>
      <li>
        <a href routerLink="/connexion">Connexion</a>
    </li>
    </ul>
  </nav>
  </header>
  