<section>
<form (ngSubmit)="soumission(fm)" #fm="ngForm" *ngIf="!auth.prof">
  <fieldset>
    <label>Identifiant</label>
    <input type="text" name="id" [(ngModel)]="user.id" required #idCtrl="ngModel">
    <div *ngIf="idCtrl.invalid">Attention, vous devez renseigner l'ID pour vous identifier</div>
    <label>Mot de passe</label>
    <input name="mdp" type="password" [(ngModel)]="user.mdp" required>
    <p>{{user.id}} - {{user.mdp}}</p>
    <button type="reset">Annuler</button>
    <button type="submit" [disabled]="fm.invalid">ENVOIE</button>
  </fieldset>
</form>
<button (click)="auth.deconne()" *ngIf="auth.prof">Déconnexion</button>
</section>